### PROD
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth = true
@mgonc:registry=https://npm.pkg.github.com/
registry=https://npm.pkg.github.com/@mgonc
//npm.pkg.github.com/:_authToken=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
# registry=https://registry.npmjs.org/