### PROD
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth = true
@mgonc:registry=https://npm.pkg.github.com/
# registry=https://npm.pkg.github.com/@mgonc
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
# registry=https://registry.npmjs.org/