## PROD
# registry=https://connect-appen-220211432420.d.codeartifact.us-west-2.amazonaws.com/npm/appen-connect-npm-repo/
# //connect-appen-220211432420.d.codeartifact.us-west-2.amazonaws.com/npm/appen-connect-npm-repo/:always-auth=true
# //connect-appen-220211432420.d.codeartifact.us-west-2.amazonaws.com/npm/appen-connect-npm-repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}


# ### DEV
@novatics-ui:registry=http://0.0.0.0:4873